<footer class="footer">
  <div class="footer__brand">
    <a routerLink="/" class="logo">
      <img src="/assets/kardi-logo-white.svg" alt="Kardi Logo" class="logo__img">
    </a>
    <p class="copyright">Kardi {{ currentYear }}. Усі права захищені.</p>
  </div>

  <div class="footer__links">

    <div class="footer__column">
      <h4 class="footer__title">Сторінки</h4>
      <ul class="footer__list">
        <li><a routerLink="/" class="footer__link">Головна</a></li>
        <li><a routerLink="/measurement" class="footer__link">Вимірювання</a></li>
        <li><a routerLink="/history" class="footer__link">Історія вимірювань</a></li>
      </ul>
    </div>

    <div class="footer__column">
      <h4 class="footer__title">Інше</h4>
      <ul class="footer__list">
        <li><a routerLink="/terms" class="footer__link">Умови використання</a></li>
        <li><a routerLink="/privacy" class="footer__link">Політика конфіденційності</a></li>
        <li><a routerLink="/doctors" class="footer__link">Для лікарів</a></li>
      </ul>
    </div>

  </div>
</footer>
